{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Информация об услуге</strong>
            </div>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Название</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Описание</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Организация</th>
                    <td>{{ object.tenant|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Дата начала</th>
                    <td>{{ object.start_date|date:"d.m.Y"|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Дата окончания</th>
                    <td>{{ object.end_date|date:"d.m.Y"|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество VM</th>
                    <td>{{ object.vm_assignments.count }}</td>
                </tr>
            </table>
        </div>

        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Метаданные</strong>
            </div>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Создано</th>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <th scope="row">Последнее изменение</th>
                    <td>{{ object.last_updated }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Таблица VM -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong>Виртуальные машины</strong></div>
            {% if object.vm_assignments.all %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Имя VM</th>
                        <th>Кластер</th>
                        <th>Статус</th>
                        <th>Примечания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in object.vm_assignments.select_related %}
                    <tr>
                        <td>
                            <a href="{{ assignment.virtual_machine.get_absolute_url }}">
                                {{ assignment.virtual_machine.name }}
                            </a>
                        </td>
                        <td>{{ assignment.virtual_machine.cluster|default:"-" }}</td>
                        <td>
                            <span class="badge badge-{{ assignment.virtual_machine.get_status_color }}">
                                {{ assignment.virtual_machine.get_status_display }}
                            </span>
                        </td>
                        <td>{{ assignment.notes|placeholder }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="card-body text-muted">
                Нет привязанных виртуальных машин
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
